################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/proyectModelo/bin/Debug/net8.0
/proyectModelo/obj
